<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <title>Email Activation</title>
    <meta http-equiv="refresh" content="10;url='/'">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'rrsite/CSS/register.css' %}" />

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
    <main role="main" class="container">
      <div class="jumbotron">
        <h1>{{ msg_title }}</h1>
        <p class="lead">{{ msg_content }}</p>
        <a class="btn btn-lg btn-primary"  role="button" onclick="javascript:window.location.href='/'">Go To Main Page.</a>
      </div>
    </main>
</body>

</html>