<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'rrsite/forgetpassword.css' %}" />

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body class="text-center">

<div>
    <div><h1 class="h3 mb-3 font-weight-normal" >Reset Password</h1></div>

    <div>
        <ul id="myTab" class="nav nav-pills justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="#PhoneRegister" data-toggle="tab">Phone</a></li>
            <li class="nav-item"><a class="nav-link" href="#EmailRegister" data-toggle="tab">Email</a></li>
        </ul>
    </div>


    <div id="myTabContent" class="tab-content">

        <div class="tab-pane active" id="PhoneRegister" style="height: 60px">
            <form class="form-register-phone">

                    <label class="sr-only" for="user_name">User Name</label>
                    <input  id="user_name" class="form-control" placeholder="Phone Number" required autofocus>

                <br>
                <div>
                    <div class="div-input-code">
                    <label class="sr-only" for="Verification code">Verification code</label>
                    <input  id="Code" class="form-control" placeholder="Code">
                    </div>
                    <div class="div-btn-code">
                    <input type="button" style="font-size:15px ;vertical-align:middle; text-align:center; height: 35px; margin:0px; padding:0px; border:0px;"  class="btn btn-lg btn-primary btn-block" value="Get Code"></input>
                    </div>
                </div>
                <br>
                <br>
                <br>

                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="New Password" required>

                <br>

                    <label for="configurePassword" class="sr-only">Configure Password</label>
                    <input type="password" id="configurePassword" class="form-control" placeholder="Configure New Password" required>



                <div class="btn-and-textend">
                     <input id="button" class="btn btn-lg btn-primary btn-block btn-register" type="submit" value="Reset" >
                </div>

            </form>

        </div>

        <div class="tab-pane fade" id="EmailRegister"style="height: 114px">
            <form class="form-register-email">
                <label class="sr-only" for="user_name">User Name</label>
                <input id="user_name" class="form-control" placeholder="Email" required autofocus>
                <br>
                <div>
                    <div class="div-input-code">
                    <label class="sr-only" for="Verification code">Verification code</label>
                    <input  id="Code" class="form-control" placeholder="Code">
                    </div>
                    <div class="div-btn-code">
                    <input type="button" style="font-size:15px ;vertical-align:middle; text-align:center; height: 35px; margin:0px; padding:0px; border:0px;"  class="btn btn-lg btn-primary btn-block" value="Get Code"></input>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" placeholder="New Password" required>
                <br>
                <label for="configurePassword" class="sr-only">Configure Password</label>
                <input type="password" id="configurePassword" class="form-control" placeholder="Configure New Password" required>


                <div class="btn-and-textend">
                     <input id="button" class="btn btn-lg btn-primary btn-block btn-register" type="submit" value="Reset">
                </div>

            </form>
        </div>

    </div>



</div>

</body>
</html>