{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>RRWeb</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font CSS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Star Rating -->
    <link href="{% static 'rrsite/CSS/star-rating-svg.css' %}" media="all" rel="stylesheet" type="text/css"/>

    <!-- Custom styles for this template -->
    {#    <link href="{% static 'rrsite/CSS/restaurantinfo.css' %}" rel="stylesheet">#}
    <style type="text/css">
        a.backToTop {
            width: 60px;
            height: 60px;
            background: #eaeaea url({% static 'rrsite/Images/top.gif' %}) no-repeat -51px 0;
            text-indent: -999em
        }

        a.backToTop:hover {
            background-position: -113px 0
        }
    </style>
</head>
<body>
{% csrf_token %}
{#<body style="background-color: whitesmoke; min-width: 1500px; overflow: auto">#}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <!--<header style="position:absolute;z-index: 10">
             <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-transparent">-->
        <a class="navbar-brand" style="margin-left:6rem" href="/">RRWeb</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline mt-4 mt-md-0" style="margin-right: 10rem">
                <div class="input-group input-group">
                    <input type="text" class="form-control" style="border:0px;width: 20rem">
                    <a href="#" class="input-group-addon btn btn-primary">
                        &nbsp <i class="fa fa-search"></i> &nbsp
                    </a>
                </div>
            </form>
            <div id="id_login_register" class="mt-2 mt-md-0" style="margin-right: 6rem">
                <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                <button class="btn btn-outline-info mr-sm-4" onclick="window.location.href='/login'">Sign In</button>
                <button class="btn btn-outline-info my-2 my-sm-0" onclick="window.location.href='/register'">Sign up
                </button>
            </div>
            <div id="id_userprofile" class="dropdown mt-2 mt-md-0" style="margin-right: 6rem;display: none">
                <img class="rounded-circle" style="width: 2.5rem;height: 2.5rem"
                     src="{% static 'rrsite/Images/icon/icon1.jpg' %}">
                <a id="id_username" class="dropdown-toggle" data-toggle="dropdown"
                   style="margin-left: 1rem;color: white">{{ username }}</a>
                <div class="dropdown-menu dropdown-menu-right" style="margin-left: 3.5rem">
                    <h5 class="dropdown-header" style="color: blue">{{ username }}</h5>
                    <a class="dropdown-item" href="/user/basic">Profile</a>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<!--<main role="main" style="position:absolute;margin:auto;top: 0;left: 0;right: 0;bottom: 0;z-index: 1"> -->
<main role="main">

    <div style="background-color: whitesmoke;">
        <div class="container">
            <div style="height: 5rem"></div>
            <h2 id="id_restaurant_name" style="color: black;text-align:left;">Restaurant Name</h2>
            <div class="row" style="">
                <div class="col-5" style="text-align: left;color: black;">
                    <div id="id_restaurant_star" style="margin-top: 0.5rem;margin-left: 1rem">
                        {#                        <div class="my-rating-5" data-rating="0"></div>#}
                    </div>
                    <div><a id="id_restaurant_city">City</a> &nbsp·&nbsp<a id="id_restaurant_reviewcount">0 reviews</a>
                    </div>
                    <div><a id="id_restaurant_categories">Categories</a></div>
                </div>

                <div class="col-7" style="text-align: right;margin-top: 2rem;">
                    <!-- 按钮：用于打开模态框 -->
                    <button id="btn_writeReview" type="button" class="btn btn-danger btn-lg" data-toggle="modal"
                            style="margin-right: 2rem">
                        <i class="fa fa-star-o"></i> Write a Review
                    </button>
                    <!-- 模态框 -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <!-- 模态框头部 -->
                                <div class="modal-header">
                                    <h4 class="modal-title"> Write a Review </h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- 模态框主体 -->
                                <div class="modal-body">
                                    <div id="id_review_star"  style="text-align: left" class="my-rating-writeReview"></div>
                                    <textarea id="id_myreview_text" class="form-control" style="margin-top: 1rem" rows="15"></textarea>
                                </div>
                                <!-- 模态框底部 -->
                                <div class="modal-footer">
                                    <button id="btn_review_submit" type="button" class="btn btn-primary"
                                            style="margin-right: 3rem"> Submit
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            style="margin-right: 3rem"> Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-success">
                            <i class="fa fa-camera-retro"></i> Add Photos
                        </button>
                        <button type="button" class="btn btn-outline-success">
                            <i class="fa fa-share-square-o"></i> Share
                        </button>
                        <button type="button" class="btn btn-outline-success">
                            <i class="fa fa-tags"></i> Save
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 3rem;">
                <div class="col-4 card" style="text-align: center;min-width: 18rem;max-width: 24rem;">
                    <div id="id_restaurant_map" class="card-header"
                         style="width: 100%;height: 15rem;margin-top: 1rem;margin-bottom: 1rem">

                    </div>
                    <div style="text-align:left;">
                        <div>
                            &nbsp; <i class="fa fa-map-marker"></i> &nbsp;&nbsp;
                            <a id="id_restaurant_address">Address</a></div>
                        <div>
                            <i class="fa fa-address-card"></i> &nbsp;
                            <a id="id_restaurant_postalcode">Postal Code</a></div>
                    </div>
                </div>

                <!--<div id="myCarousel" class="col-8 carousel slide" data-ride="carousel"
                     style="height: 14rem;text-align: center;min-width: 45rem;margin-top: 3rem">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        {#                        <li data-target="#myCarousel" data-slide-to="1"></li>#}
                        {#                        <li data-target="#myCarousel" data-slide-to="2"></li>#}
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img id="id_photo_1" class="first-slide img-fluid img-rounded" data-src="holder.js/200*200/auto"
                                 style="position: fixed; z-index:1; width: 14rem; height: 14rem"
                                 src="http://58.87.109.246/static/photos/19P5TihrWkEcOXmsKvLAHA.jpg" alt="first slide">
                            <img id="id_photo_2" class="first-slide img-fluid" data-src="holder.js/200*200/auto"
                                 style="position: fixed; z-index:1; width: 14rem; height: 14rem"
                                 src="http://58.87.109.246/static/photos/19P5TihrWkEcOXmsKvLAHA.jpg" alt="first slide">
                            <img id="id_photo_3" class="first-slide img-fluid" data-src="holder.js/200*200/auto"
                                 style="position: fixed; z-index:1; width: 14rem; height: 14rem"
                                 src="http://58.87.109.246/static/photos/19P5TihrWkEcOXmsKvLAHA.jpg" alt="first slide">
                        </div>
                    </div>
{#                    左右切换按钮#}
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> -->
                <div id="id_restaurant_photo_no" class="col-8">
                    <div style="margin-left:10rem; width: 45rem; height: 18rem; line-height: 18rem;font-size: 1.5rem">
                        <img id="id_photo" data-src="holder.js/100*100/auto"
                             style="width: 8rem; height: 8rem;"
                             src="{% static 'rrsite/Images/icon/face-sad.png' %}" alt="first slide">
                        <a style="margin-left: 3rem">No Photos!!!</a>
                        <a href="#">Add a Photo?</a>
                    </div>
                </div>
                <div id="id_restaurant_photo_few" class="col-8">
                    <div style="width: 45rem; height: 20rem; margin-top: 2rem; text-align: center">
                        <img id="id_photo" data-src="holder.js/200*200/auto"
                             style="width: 14rem; height: 14rem; box-shadow: 0px 0px 10px #888888;"
                             src="http://58.87.109.246/static/photos/19P5TihrWkEcOXmsKvLAHA.jpg" alt="photo">
                        <br><p style="color: red; margin-top: 0.5rem;"><b id="id_restaurant_photonum">Just One Photo</b></p>
                    </div>
                </div>
                <div id="id_restaurant_photo_many" class="col-8" style="margin-top: 2rem">
                    <div style="text-align: center; width:45rem; height: 15rem; line-height: 16rem;">
                        <img id="id_photo_1" class="first-slide img-fluid img-rounded" data-src="holder.js/200*200/auto"
                             style="padding: 0.1rem;width: 14rem; height: 14rem; box-shadow: 0px 0px 10px #888888"
                             src="http://58.87.109.246/static/photos/19P5TihrWkEcOXmsKvLAHA.jpg" alt="first slide">
                        <img id="id_photo_2" class="img-fluid img-rounded" data-src="holder.js/200*200/auto"
                             style="padding: 0.1rem;width: 15.5rem; height: 15.5rem; box-shadow: 0px 0px 10px #888888"
                             src="http://58.87.109.246/static/photos/19P5TihrWkEcOXmsKvLAHA.jpg" alt="first slide">
                        <img id="id_photo_3" class="first-slide img-fluid img-rounded" data-src="holder.js/200*200/auto"
                             style="padding: 0.1rem;width: 14rem; height: 14rem; box-shadow: 0px 0px 10px #888888"
                             src="http://58.87.109.246/static/photos/19P5TihrWkEcOXmsKvLAHA.jpg" alt="first slide">
                        <a id="id_photo_prev" class="carousel-control-prev" role="button" data-slide="prev" style="height: 16rem">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a id="id_photo_next" class="carousel-control-next" role="button" data-slide="next" style="height: 16rem">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <br>
                    <p style="color: red;text-align: right"><b id="id_restaurant_photonum_many"> Photos</b></p>
                </div>
            </div>
        </div>
        <div style="height: 5rem"></div>
    </div>


    <div class="container" style="margin-top: 8rem">
        <div class="row">
            <div class="col-8">
                <!-- Tips -->

                <div id="id_restaurant_tips">
                    <!--   <div class="card">
                        <div class="card-header">
                            <h3 style="color: #e80027;margin-left: 2rem">Tips</h3>
                        </div>
                    </div>
                    <div id="id_tip_1" class="row" style="margin-top: 2rem">
                        <div id="id_tip_1_icon" class="col-2" style="text-align: center">
                            <img class="rounded" src="{% static 'rrsite/Images/icon/icon1.jpg' %}" alt="icon" style="height: 4rem; width: 4rem;">
                        </div>
                        <div class="col-10">
                            <a style="text-indent:2em">
                                I eat at this place quite often, never once it fail for delicious food. My fav as always
                            </a>
                            <div style="text-align: right;color: #5a5a5a;margin-right: 2rem">
                                <a>2000-00-00</a>
                                <a class="mythumbs fa fa-thumbs-o-up" style="margin-left: 5rem;"></a>
                                <a> 0 likes</a>
                            </div>
                        </div>
                    </div>
                    <hr class="featurette-divider" style='background-color: rgba(134,214,14,0.33);'>
                -->
                </div>

                <!-- Recommended Reviews -->
                <div id="id_restaurant_reviews" style="margin-top: 3rem">
                    <!--
                    <div class="card">
                        <div class="card-header">
                            <h3 style="color: #e80027;margin-left: 2rem">Recommended Reviews</h3>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2rem">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-5" style="text-align: center;">
                                    <img class="rounded" src="{% static 'rrsite/Images/icon/icon1.jpg' %}" alt="icon"
                                         style="height: 4rem; width: 4rem;">
                                </div>
                                <div class="col-7" style="color: #5a5a5a">
                                    <a style="color: cornflowerblue;font-size: 1.1rem" href="#"><b>User name</b></a>
                                    <br><a style="font-size: 0.85rem;margin-top: 0.2rem">
                                    <i class="fa fa-child"></i><i class="fa fa-child"></i> <b>451</b> friends</a>
                                    <br><a style="font-size: 0.85rem"><i class="fa fa-star"></i> &nbsp;<b>386</b>
                                    reviews</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row" style="margin-top: 1rem">
                                <div id="" class="col-4 review_star" data-rating="2.5"></div>
                                <div id="" class="col-4"><a>2018/03/07</a></div>
                            </div>
                            <p style="font-size: 1rem; text-indent:2em;color: black;margin-top: 1.5rem">
                                I eat at this place quite often, never once it fail for delicious food. My fav as always
                                the
                                pan roast and raw oysters, the pan roast sauce is thick buttery and very tasty. I'm
                                actually
                                from down south and I know how to cook, I'm very picky w taste and look of my food,
                                their
                                Gumbo (the best in L
                            </p>
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                    style="margin-left: 1.5rem"> Userful
                                &nbsp; <a>0</a></button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                    style="margin-left: 1.5rem"> Funny
                                &nbsp; <a>0</a></button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                    style="margin-left: 1.5rem"> Cool
                                <a>0</a></button>
                        </div>
                    </div>
                    <hr class="featurette-divider" style='background-color: rgba(134,214,14,0.33);'>

                    <div>
                        <a style="margin-left: 3rem;font-size: 1.2rem">Page 1 of 1</a>
                        <ul class="pagination" style="float: right;margin-right: 2rem;color: cornflowerblue">
                            <li class="page-item"><a class="page-link" ><b> Previous </b></a></li>
                            <li class="page-item"><a class="page-link" >1</a></li>
                            <li class="page-item"><a class="page-link" >2</a></li>
                            <li class="page-item"><a class="page-link" >3</a></li>
                            <li class="page-item"><a class="page-link" ><b> Next </b></a></li>
                        </ul>
                    </div>
                     -->
                </div>

            </div>

            <div class="col-4">
                <!-- Hours -->
                <div class="card" style="margin-left: 3rem">
                    <div class="card-header">
                        <h4 class="panel-title" style="margin-left: 0.5rem;color: #e80027">Hours</h4>
                    </div>
                    <table class="table table-hover table-sm" style="text-align: center">
                        <tr>
                            <td><b>Mon</b></td>
                            <td id="id_hour_mon"></td>
                        </tr>
                        <tr>
                            <td><b>Tue</b></td>
                            <td id="id_hour_tue"></td>
                        </tr>
                        <tr>
                            <td><b>Wed</b></td>
                            <td id="id_hour_wed"></td>
                        </tr>
                        <tr>
                            <td><b>Thu</b></td>
                            <td id="id_hour_thu"></td>
                        </tr>
                        <tr>
                            <td><b>Fri</b></td>
                            <td id="id_hour_fri"></td>
                        </tr>
                        <tr>
                            <td><b>Sat</b></td>
                            <td id="id_hour_sat"></td>
                        </tr>
                        <tr>
                            <td><b>Sun</b></td>
                            <td id="id_hour_sun"></td>
                        </tr>
                    </table>
                </div>
                <!-- More business info -->
                <div class="card" style="margin-left: 3rem;margin-top: 5rem">
                    <div class="card-header">
                        <h4 class="panel-title" style="margin-left: 0.5rem;color: #e80027">More business info</h4>
                    </div>
                    <table id="id_restaurant_special" class="table table-hover table-sm"
                           style="word-break:break-all; text-align: left">
                        <!-- <tr><td><b>Mon</b></td><td>5:00 pm - 10:30 pm</td></tr> -->
                    </table>
                </div>
            </div>

        </div>
    </div>


    <!-- FOOTER -->
    <footer class="container" style="margin-top: 3rem">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018-2019 Company, LCSH. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- 谷歌地图 -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATlh4BwxlQ6Tx0qqwqGr5GKnCHAzYrT9c">
</script>

<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script type="text/javascript" src="{% static 'rrsite/JS/holder.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rrsite/JS/gotoTop.js' %}"></script>
<script type="text/javascript" src="{% static 'rrsite/JS/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'rrsite/JS/jquery.star-rating-svg.js' %}"></script>

<script src="{% static 'rrsite/JS/universal.js' %}" type="text/javascript"></script>
<script>var restaurant_id = '{{ restaurant_id }}'</script>
<script src="{% static 'rrsite/JS/restaurant.js' %}" type="text/javascript"></script>

</body>
</html>
