<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">

    <title>User Information</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'rrsite/CSS/user_info.css' %}"/>
</head>
<body>
{% csrf_token %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <!--<header style="position:absolute;z-index: 10">
             <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-transparent">-->
        <a class="navbar-brand" style="margin-left:6rem" href="#">RRWeb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline mt-4 mt-md-0" style="margin-right: 10rem">
                <div class="input-group input-group">
                    <input type="text" class="form-control" style="border:0 ;width: 20rem">
                    <a href="#" class="input-group-addon btn btn-primary">
                        &nbsp <i class="fa fa-search"></i> &nbsp
                    </a>
                </div>
            </form>
            <div id="id_login_register" class="mt-2 mt-md-0" style="margin-right: 6rem">
                <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                <button class="btn btn-outline-info mr-sm-4" onclick="window.location.href='/login'">Sign In</button>
                <button class="btn btn-outline-info my-2 my-sm-0" onclick="window.location.href='/register'">Sign up
                </button>
            </div>
            <div id="id_userprofile" class="dropdown mt-2 mt-md-0" style="margin-right: 6rem;display: none">
                <img class="rounded-circle" style="width: 2.5rem;height: 2.5rem"
                     src="{% static 'rrsite/Images/icon/icon1.jpg' %}">
                <a id="id_username" class="dropdown-toggle" data-toggle="dropdown"
                   style="margin-left: 1rem;color: white">{{ username }}</a>
                <div class="dropdown-menu dropdown-menu-right" style="margin-left: 3.5rem">
                    <h5 class="dropdown-header" style="color: blue">{{ username }}</h5>
                    <a class="dropdown-item" href="/user_info">Profile</a>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main">
    <div class="div-userinfo" style="margin-top: 3rem">
        <div class="nav flex-column nav-pills nav-side" id="nav-side" role="tablist" aria-orientation="vertical">
            <h3 class="text-center" style="height: 60px;padding-top: 30px">User Information</h3>

            <a class="nav-link active" id="v-pills-basic-tab" data-toggle="pill" href="#v-pills-basic" role="tab"
               aria-controls="v-pills-basic" aria-selected="true">Basic Information</a>
            <a class="nav-link" id="v-pills-accout-tab" data-toggle="pill" href="#v-pills-account" role="tab"
               aria-controls="v-pills-account" aria-selected="false" onclick="backAccount()">Account Information</a>

        </div>
        <div class="tab-content userinfo-content" id="userinfo-content">

            <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel"
                 aria-labelledby="v-pills-basic-tab">
                <div class="hd">
                    <h4>Basic Information</h4>
                </div>
                <div class="con">
                    <p style="color: #999;">In order to let more user know you,some information will be shown on your
                        personal information
                        page.</p>
                    <div class="form-box">
                        <form id="basicForm">
                            <ul>
                                <li>
                                    <div class="tit">
                                        <label for="userNickname">Nick name:</label>
                                    </div>
                                    <div class="f-part">
                                        <input class="form-control" id="userNickname" name="userNickname"
                                               value="" type="text"
                                               maxlength="24">
                                    </div>
                                </li>
                                <li>

                                    <div class="tit">
                                        <label>Sex:</label>
                                    </div>
                                    <div class="f-part" style="padding-top: 5px">
                                        <input id="man" class="radio-plain" name="userSex" type="radio" value="1">
                                        <label for="man">Man</label>
                                        <input id="woman" class="radio-plain" name="userSex" type="radio" value="0">
                                        <label for="woman">Woman</label>
                                    </div>

                                </li>

                                <li>

                                    <div class="tit">
                                        <label for="userCityname">City:</label>
                                    </div>
                                    <div class="f-part">
                                        <input class="form-control" id="userCityname" name="userCityname"
                                               value="" type="text" maxlength="24">
                                    </div>

                                </li>
                                <li>

                                    <div class="tit">
                                        <label>Self Introduction:</label>
                                    </div>
                                    <div class="f-part">
                                    <textarea style="width: 400px" class="form-control" id="userRemark"
                                              name="userRemark"
                                              rows="5"
                                              placeholder="Please introduce yourself so that more people will know you~"></textarea>
                                    </div>

                                </li>
                            </ul>
                            <div class="btn-box">
                                <input style="color: #f1fbfb;" class="button btn btn-primary" type="button"
                                       value="Submit" id="basic_submit">
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade v-pills-account" id="v-pills-account" role="tabpanel"
                 aria-labelledby="v-pills-account-tab">
                <div class="account-info">
                    <div class="hd">
                        <h4>Account Information</h4>
                    </div>
                    <div class="con">
                        <div class="form-box">
                            <ul>
                                <li>
                                    <label for="">E-mail box :</label>
                                    <span id="userEmail">E-mail has not been bound.</span>
                                    <a href="javascript:void(0)" class="bind-email" onclick="bindEmail();">[Bind
                                        now]</a>
                                </li>
                                <li>
                                    <label for="">Password :</label>
                                    <span>******</span>
                                    <a href="javascript:void(0)" class="modify-password" onclick="modifyPassword()">[Modify]</a>
                                </li>
                                <li>
                                    <label for="">Phone Number :</label>
                                    <span id="userPhone">Phone number has not been bound.</span>
                                    <a href="javascript:void(0)" class="modify-phone"
                                       onclick="modifyPhone()">[Modify]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="email-info">
                    <div class="hd">
                        <h4><a href="javascript:void(0)" onclick="backAccount()">Account Information</a>
                            <span>
                    <em> >    </em>
                    Modify Email
                </span>
                        </h4>
                    </div>
                    <div class="con">
                        <p style="color: #999">Please input your E-mail address.</p>
                        <form method="post">
                            <div class="form-box">
                                <ul>
                                    <li>
                                        <label style="width: 130px;text-align: right;float: left;padding-top: 10px"
                                               for="email">New E-mail:</label>
                                        <input style="width: 250px;left: 13px;position: relative" class="form-control"
                                               name="email" id="email" type="text">
                                    </li>
                                </ul>
                            </div>
                            <input class="btn btn-primary" type="button" value="Submit" id="email-submit"
                                   style="left: 185px;position: relative">
                        </form>
                    </div>
                </div>
                <div class="password-info">
                    <div class="hd">
                        <h4><a href="javascript:void(0)" onclick="backAccount()">Account Information</a>
                            <span>
                    <em> > </em>
                    Modify Password
                    </span>
                        </h4>
                    </div>
                    <div class="con">
                        <p style="color: #999">In order to make sure your account's safety, please don't user the same
                            password with other site.</p>
                        <form method="post">
                            <div class="form-box" style="left: 30px;position: relative">
                                <ul>
                                    <li>
                                        <label style="position: relative;left:10px" for="oldPassword">Old
                                            Password:</label>
                                        <input style="width: 250px;left: 13px;position: relative" class="form-control"
                                               name="oldPassword" id="oldPassword" type="password">
                                    </li>
                                    <li>
                                        <label style="position: relative;left:10px" for="newPassword">New
                                            Password:</label>
                                        <input style="width: 250px;left: 13px;position: relative" class="form-control"
                                               name="newPassword" id="newPassword" type="password">
                                    </li>
                                    <li>
                                        <label style="position: relative;left:10px" for="newPasswordConf">Confirm New
                                            Password:</label>
                                        <input style="width: 250px;left: 13px;position: relative" class="form-control"
                                               id="newPasswordConf" type="password">
                                    </li>
                                    <li><span id="pw-span" style="color: red; left: 10px;position: relative;height: 10px;display:block;"></span></li>
                                </ul>
                            </div>
                            <input class="btn btn-primary" style="position: relative;left:85px" type="button"
                                   value="Submit" id="password-submit">
                        </form>
                    </div>
                </div>
                <div class="phone-info">
                    <div class="hd">
                        <h4><a href="javascript:void(0)" onclick="backAccount()">Account Information</a>
                            <span>
                    <em> > </em>
                    Modify Phone Number
                    </span>
                        </h4>
                    </div>
                    <div class="con">
                        <form method="post" style="left: 50px;position: relative">
                            <div class="form-box">
                                <ul>
                                    <li>
                                        <label style="left: 10px;position: relative" for="newPhone">New Phone
                                            Number:</label>
                                        <input name="newPhone" id="newPhone" type="text" class="form-control"
                                               style="width: 250px;left: 13px;position: relative">

                                    </li>
                                    <li>
                                        <label style="left: 10px;position: relative" for="code">Verification
                                            Code:</label>
                                        <div>
                                            <input name="code" id="code" type="text" class="form-control"
                                                   style="width: 100px;left: 13px;position: relative;float: left">
                                            <input id="btn-code" class="btn btn-primary" value="Get Code" type="button"
                                                   style="color: #fff;float: left;left: 20px;position: relative;width:90px">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <input type="button" value="Submit" class="btn btn-primary"
                                   style="position: relative;top: 30px;right:180px" id="phone-submit">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{% static 'rrsite/JS/gotoTop.js' %}"></script>
<script type="text/javascript" src="{% static 'rrsite/JS/jquery.cookie.js' %}"></script>

<script src="{% static 'rrsite/JS/user_info.js' %}"></script>
</body>
</html>